@model IEnumerable<webbanhang.ViewModels.GenresVM>
@using System.Security.Claims
@{
    ViewData["Title"] = "Genres";
    Layout = "_AdminLayout";
}
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            @* <form asp-action="Search" asp-controller="Admin" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm"
            aria-label="Search" name="query" aria-describedby="basic-addon2">
            <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
            </button>
            </div>
            </div>
            </form> *@

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                </li>

                <!-- Nav Item - Alerts -->
                <!-- Nav Item - Messages -->
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Context.User.FindFirstValue(ClaimTypes.Name)</span>
                        <img class="img-profile rounded-circle" src="~/Hinh/Account/@Context.User.FindFirstValue("Hinh")">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <a asp-action="Profile" asp-controller="Register" class="dropdown-item">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>


                        <div class="dropdown-divider"></div>
                        <a asp-action="DangXuat" asp-controller="Register" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">

                <a asp-action="AddBrand" asp-controller="Admin" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Thêm nhãn hàng
                </a>
            </div>
        </div>
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Quản lí nhãn hàng</h1>


            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Thông tin nhãn hàng</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <th scope="col">Tên nhãn hàng</th>
                            
                            <th scope="col">Số lượng</th>
                            <th scope="col">Lượt mua</th>
                            <th scope="col">Tồn kho</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người Update</th>
                            <th scope="col">Ngày Update</th>
                            <th scope="col">Chỉnh thông tin</th>
                            <th scope="col">Xóa</th>

                            </thead>
                            <tfoot>
                            <th scope="col">Tên nhãn hàng</th>
                            
                            <th scope="col">Số lượng sản phẩm</th>

                            <th scope="col">Lượt mua</th>

                            <th scope="col">Tồn kho</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người Update</th>
                            <th scope="col">Ngày Update</th>

                            <th scope="col">Xóa</th>>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a>
                                                <p class="mb-0 mt-4">@item.BrandName</p>
                                            </a>
                                        </td>                                     
                                        <td>
                                            <p class="mb-0 mt-4">@item.Soluong</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Byturn</p>
                                        </td>


                                        <td>
                                            <p class="mb-0 mt-4">@item.Quantity</p>
                                        </td>

                                        <td>
                                            <p class="mb-0 mt-4">@item.CreateBy</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.CreateAt</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateBy</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateAt</p>
                                        </td>

                                        <td>
                                            <a asp-action="UpdateBrand" asp-controller="Admin" asp-route-id="@item.BrandId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <button data-id="@item.BrandId" class="deleteButton btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-times text-danger"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<script>
    // Lặp qua tất cả các button "Delete" và thêm sự kiện click
    document.querySelectorAll('.deleteButton').forEach(button => {
        button.addEventListener('click', function () {
            // Lấy giá trị của thuộc tính dữ liệu "data-id" của button
            var itemId = this.getAttribute('data-id');

            // Hiển thị message box xác nhận với SweetAlert2
            Swal.fire({
                title: 'Xóa loại sản phẩm này?',
                text: "Bạn không thể khôi phục dữ liệu!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Xóa'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Truyền id vào action "Delete" của controller "YourController"
                    window.location.href = '@Url.Action("DeleteB", "Admin")' + '?id=' + itemId;
                }
            });
        });
    });
</script>













