@model IEnumerable<webbanhang.ViewModels.CheckoutAdminVM>
@using System.Security.Claims
@{
    ViewData["Title"] = "Quản lí đơn hàng";
    Layout = "_AdminLayout";
}
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            @* <form asp-action="Search" asp-controller="Admin" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm"
            aria-label="Search" name="query" aria-describedby="basic-addon2">
            <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
            </button>
            </div>
            </div>
            </form> *@

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                

                <!-- Nav Item - Alerts -->
                <!-- Nav Item - Messages -->
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Context.User.FindFirstValue(ClaimTypes.Name)</span>
                        <img class="img-profile rounded-circle" src="~/Hinh/Account/@Context.User.FindFirstValue("Hinh")">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <a asp-action="Profile" asp-controller="Register" class="dropdown-item">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>


                        <div class="dropdown-divider"></div>
                        <a asp-action="DangXuat" asp-controller="Register" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
        </div>
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Đơn hàng chưa xác nhận</h1>


            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Thông tin hóa đơn</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <th scope="col">Xác nhận đơn hàng</th>
                            <th scope="col">Chi tiết hóa đơn</th>

                                <th scope="col">Mã đơn hàng</th>
                                <th scope="col">Tài khoản đặt hàng</th>
                                <th scope="col">Tên người đặt hàng</th>
                                <th scope="col">Số điện thoại người đặt</th>
                                <th scope="col">Tổng tiền</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Ghi chú</th>
                                <th scope="col">Ngày đặt hàng</th>                        
                                <th scope="col">Địa chỉ</th>
                                <th scope="col">Phương thức thanh toán</th>
                                <th scope="col">Người tạo</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Người Update</th>
                                <th scope="col">Ngày Update</th>
                                
                            </thead>
                            <tfoot>
                            <th scope="col">Xác nhận đơn hàng</th>
                            <th scope="col">Chi tiết hóa đơn</th>

                                <th scope="col">Mã đơn hàng</th>
                                <th scope="col">Tài khoản đặt hàng</th>
                                <th scope="col">Tên người đặt hàng</th>
                                <th scope="col">Số điện thoại người đặt</th>
                                <th scope="col">Tổng tiền</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Ghi chú</th>
                                <th scope="col">Ngày đặt hàng</th>
                                <th scope="col">Địa chỉ</th>
                                <th scope="col">Phương thức thanh toán</th>
                                <th scope="col">Người tạo</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Người Update</th>
                                <th scope="col">Ngày Update</th>
                            </tfoot>
                            <tbody>
                                @foreach (var item in ViewBag.Orders1)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Confirm" asp-controller="Admin" asp-route-id="@item.OrderId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-clipboard-check text-success"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-action="OrderDetail" asp-controller="Admin" asp-route-id="@item.OrderId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-folder"></i>
                                            </a>
                                        </td>

                                        <td>
                                            <a>
                                                <p class="mb-0 mt-4">@item.OrderId</p>
                                            </a>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.AccountId</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Name</p>
                                        </td>


                                        <td>
                                            <p class="mb-0 mt-4">@item.Phonenumber</p>
                                        </td>

                                        <td>
                                            <p class="mb-0 mt-4">@item.Total</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Status</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.OrderNote</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.OrderDate</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Province-@item.Ward-@item.District-@item.Address</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Payment</p>
                                        </td>
                                         <td>
                                            <p class="mb-0 mt-4">@item.CreateBy</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.CreateAt</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateBy</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateAt</p>
                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Chờ giao hàng</h1>


            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Thông tin hóa đơn</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <th scope="col">Xác nhận đơn hàng</th>
                            <th scope="col">Chi tiết hóa đơn</th>


                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Tài khoản đặt hàng</th>
                            <th scope="col">Tên người đặt hàng</th>
                            <th scope="col">Số điện thoại người đặt</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Ghi chú</th>
                            <th scope="col">Ngày đặt hàng</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Phương thức thanh toán</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người Update</th>
                            <th scope="col">Ngày Update</th>
                            </thead>
                            <tfoot>
                            <th scope="col">Xác nhận đơn hàng</th>
                            <th scope="col">Chi tiết hóa đơn</th>

                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Tài khoản đặt hàng</th>
                            <th scope="col">Tên người đặt hàng</th>
                            <th scope="col">Số điện thoại người đặt</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Ghi chú</th>
                            <th scope="col">Ngày đặt hàng</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Phương thức thanh toán</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người Update</th>
                            <th scope="col">Ngày Update</th>
                            </tfoot>
                            <tbody>
                                @foreach (var item in ViewBag.Orders2)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Confirm" asp-controller="Admin" asp-route-id="@item.OrderId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-clipboard-check text-success"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-action="OrderDetail" asp-controller="Admin" asp-route-id="@item.OrderId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-folder"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a>
                                                <p class="mb-0 mt-4">@item.OrderId</p>
                                            </a>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.AccountId</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Name</p>
                                        </td>


                                        <td>
                                            <p class="mb-0 mt-4">@item.Phonenumber</p>
                                        </td>

                                        <td>
                                            <p class="mb-0 mt-4">@item.Total</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Status</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.OrderNote</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.OrderDate</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Province-@item.Ward-@item.District-@item.Address</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Payment</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.CreateBy</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.CreateAt</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateBy</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateAt</p>
                                        </td>

                                        
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Đang giao hàng</h1>


            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Thông tin hóa đơn</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <th scope="col">Xác nhận đơn hàng</th>
                            <th scope="col">Chi tiết hóa đơn</th>
                            <th scope="col">Khách không nhận hàng</th>


                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Tài khoản đặt hàng</th>
                            <th scope="col">Tên người đặt hàng</th>
                            <th scope="col">Số điện thoại người đặt</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Ghi chú</th>
                            <th scope="col">Ngày đặt hàng</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Phương thức thanh toán</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người Update</th>
                            <th scope="col">Ngày Update</th>
                            </thead>
                            <tfoot>
                            <th scope="col">Xác nhận đơn hàng</th>
                            <th scope="col">Chi tiết hóa đơn</th>
                            <th scope="col">Khách không nhận hàng</th>

                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Tài khoản đặt hàng</th>
                            <th scope="col">Tên người đặt hàng</th>
                            <th scope="col">Số điện thoại người đặt</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Ghi chú</th>
                            <th scope="col">Ngày đặt hàng</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Phương thức thanh toán</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người Update</th>
                            <th scope="col">Ngày Update</th>
                            </tfoot>
                            <tbody>
                                @foreach (var item in ViewBag.Orders3)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Confirm" asp-controller="Admin" asp-route-id="@item.OrderId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-clipboard-check text-success"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-action="Bom" asp-controller="Admin" asp-route-id="@item.OrderId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-times text-danger"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-action="OrderDetail" asp-controller="Admin" asp-route-id="@item.OrderId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-folder"></i>
                                                </a>
                                        </td>
                                        <td>
                                            <a>
                                                <p class="mb-0 mt-4">@item.OrderId</p>
                                            </a>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.AccountId</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Name</p>
                                        </td>


                                        <td>
                                            <p class="mb-0 mt-4">@item.Phonenumber</p>
                                        </td>

                                        <td>
                                            <p class="mb-0 mt-4">@item.Total</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Status</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.OrderNote</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.OrderDate</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Province-@item.Ward-@item.District-@item.Address</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Payment</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.CreateBy</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.CreateAt</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateBy</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateAt</p>
                                        </td>                                    
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Giao hàng thành công</h1>


            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Thông tin hóa đơn</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <th scope="col">Xác nhận đơn hàng</th>
                            <th scope="col">Chi tiết đơn hàng</th>


                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Tài khoản đặt hàng</th>
                            <th scope="col">Tên người đặt hàng</th>
                            <th scope="col">Số điện thoại người đặt</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Ghi chú</th>
                            <th scope="col">Ngày đặt hàng</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Phương thức thanh toán</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người Update</th>
                            <th scope="col">Ngày Update</th>
                            </thead>
                            <tfoot>
                            <th scope="col">Xác nhận đơn hàng</th>
                            <th scope="col">Chi tiết đơn hàng</th>

                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Tài khoản đặt hàng</th>
                            <th scope="col">Tên người đặt hàng</th>
                            <th scope="col">Số điện thoại người đặt</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Ghi chú</th>
                            <th scope="col">Ngày đặt hàng</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Phương thức thanh toán</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người Update</th>
                            <th scope="col">Ngày Update</th>
                            </tfoot>
                            <tbody>
                                @foreach (var item in ViewBag.Orders4)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Confirm" asp-controller="Admin" asp-route-id="@item.OrderId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-clipboard-check text-success"></i>
                                                </a>
                                        </td>
                                        <td>
                                            <a asp-action="OrderDetail" asp-controller="Admin" asp-route-id="@item.OrderId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-folder"></i>
                                                </a>
                                        </td>
                                        <td>
                                            <a>
                                                <p class="mb-0 mt-4">@item.OrderId</p>
                                            </a>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.AccountId</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Name</p>
                                        </td>


                                        <td>
                                            <p class="mb-0 mt-4">@item.Phonenumber</p>
                                        </td>

                                        <td>
                                            <p class="mb-0 mt-4">@item.Total</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Status</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.OrderNote</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.OrderDate</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Province-@item.Ward-@item.District-@item.Address</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Payment</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.CreateBy</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.CreateAt</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateBy</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateAt</p>
                                        </td>

                                       
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Khách hàng không nhận hàng</h1>


            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Thông tin hóa đơn</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <th scope="col">Xác nhận đơn hàng</th>
                            <th scope="col">Chi tiết đơn hàng</th>


                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Tài khoản đặt hàng</th>
                            <th scope="col">Tên người đặt hàng</th>
                            <th scope="col">Số điện thoại người đặt</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Ghi chú</th>
                            <th scope="col">Ngày đặt hàng</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Phương thức thanh toán</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người Update</th>
                            <th scope="col">Ngày Update</th>
                            </thead>
                            <tfoot>
                            <th scope="col">Xác nhận đơn hàng</th>
                            <th scope="col">Chi tiết đơn hàng</th>

                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Tài khoản đặt hàng</th>
                            <th scope="col">Tên người đặt hàng</th>
                            <th scope="col">Số điện thoại người đặt</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Ghi chú</th>
                            <th scope="col">Ngày đặt hàng</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Phương thức thanh toán</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người Update</th>
                            <th scope="col">Ngày Update</th>
                            </tfoot>
                            <tbody>
                                @foreach (var item in ViewBag.Orders5)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Confirm" asp-controller="Admin" asp-route-id="@item.OrderId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-clipboard-check text-success"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-action="OrderDetail" asp-controller="Admin" asp-route-id="@item.OrderId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-folder"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a>
                                                <p class="mb-0 mt-4">@item.OrderId</p>
                                            </a>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.AccountId</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Name</p>
                                        </td>


                                        <td>
                                            <p class="mb-0 mt-4">@item.Phonenumber</p>
                                        </td>

                                        <td>
                                            <p class="mb-0 mt-4">@item.Total</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Status</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.OrderNote</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.OrderDate</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Province-@item.Ward-@item.District-@item.Address</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Payment</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.CreateBy</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.CreateAt</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateBy</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateAt</p>
                                        </td>

                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>



        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>














