@model IEnumerable<webbanhang.ViewModels.AccountVM>
@using System.Security.Claims
@{
    ViewData["Title"] = "Quản lí đơn hàng";
    Layout = "_AdminLayout";
}

<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            @* <form asp-action="Search" asp-controller="Admin" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm"
            aria-label="Search" name="query" aria-describedby="basic-addon2">
            <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
            </button>
            </div>
            </div>
            </form> *@

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <!-- Nav Item - Alerts -->
                <!-- Nav Item - Messages -->
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Context.User.FindFirstValue(ClaimTypes.Name)</span>
                        <img class="img-profile rounded-circle" src="~/Hinh/Account/@Context.User.FindFirstValue("Hinh")">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <a asp-action="Profile" asp-controller="Register" class="dropdown-item">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>


                        <div class="dropdown-divider"></div>
                        <a asp-action="DangXuat" asp-controller="Register" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
        </div>
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Thông tin khách hàng</h1>


            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Thông tin tài khoản và khách hàng</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <th scope="col">Vô hiệu hóa tài khoản</th>
                            <th scope="col">Mở vô hiệu hóa</th>
                            <th scope="col">Xét quyền admin</th>
                            <th scope="col">Bỏ quyền admin</th>
                            <th scope="col">User_Name</th>
                            <th scope="col">Tên người dùng</th>
                            <th scope="col">Mật khẩu</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Email</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Avatar</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Phân quyền</th>
                            <th scope="col">Số đơn hàng mua</th>
                            <th scope="col">Tổng tiền đã mua</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người Update</th>
                            <th scope="col">Ngày Update</th>

                            </thead>
                            <tfoot>
                            <th scope="col">Vô hiệu hóa tài khoản</th>
                            <th scope="col">Mở vô hiệu hóa</th>
                            <th scope="col">Xét quyền admin</th>
                            <th scope="col">Bỏ quyền admin</th>
                            <th scope="col">User_Name</th>
                            <th scope="col">Tên người dùng</th>
                            <th scope="col">Mật khẩu</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Email</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Avatar</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Phân quyền</th>
                            <th scope="col">Số đơn hàng mua</th>
                            <th scope="col">Tổng tiền đã mua</th>                           
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người Update</th>
                            <th scope="col">Ngày Update</th>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>


                                        <td>
                                            <a asp-action="CloseStatus" asp-controller="Admin" asp-route-id="@item.AccountId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-lock text-danger"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-action="OpenStatus" asp-controller="Admin" asp-route-id="@item.AccountId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-user-circle text-success"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-action="OpenRole" asp-controller="Admin" asp-route-id="@item.AccountId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-user-plus text-success"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-action="CloseRole" asp-controller="Admin" asp-route-id="@item.AccountId" class="btn btn-md rounded-circle bg-light border mt-4">
                                                <i class="fa fa-user-times text-danger"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.AccountId</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Name</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Password</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Status</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Email</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Phone</p>
                                        </td>

                                        <th scope="row">
                                            <div class="d-flex align-items-center">
                                                <img src="~/Hinh/Account/@item.Avatar" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                            </div>
                                        </th>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Province-@item.Ward-@item.Districs-@item.Address</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Role</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.Quantity</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@string.Format("{0:N0} VNĐ", @item.Total)</p>
                                        </td>
                                        
                                      
                                       
                                        <td>
                                            <p class="mb-0 mt-4">@item.CreateAt</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateBy</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">@item.UpdateAt</p>
                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
                @await Component.InvokeAsync("PageCustomer")
            </div>

        </div>




        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>

















