@model webbanhang.ViewModels.PieChartVM
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Quản lí hàng tồn kho</h6>
    </div>
    <div class="card-body">
        <h4 class="small font-weight-bold">
            T-Shirt <span class="float-right">@Model.Tshirt%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-danger" role="progressbar" style="width: @Model.Tshirt%"
                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            JACKET <span class="float-right">@Model.JACKET%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-warning" role="progressbar" style="width: @Model.JACKET%"
                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            CROPTOP <span class="float-right">@Model.CROPTOP%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar" role="progressbar" style="width: @Model.CROPTOP%"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            HOODIE <span class="float-right">@Model.HOODIE%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.HOODIE%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            BAG <span class="float-right">@Model.BAG%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.BAG%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            CAP <span class="float-right">@Model.CAP%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.CAP%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            WALLET <span class="float-right">@Model.WALLET%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.WALLET%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            PANT <span class="float-right">@Model.PANT%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.PANT%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            SHORT <span class="float-right">@Model.SHORT%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.SHORT%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            JEAN <span class="float-right">@Model.JEAN%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.JEAN%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            BLAZER <span class="float-right">@Model.BLAZER%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.BLAZER%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            BOMBER <span class="float-right">@Model.BOMBER%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.BOMBER%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            HAT <span class="float-right">@Model.HAT%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.HAT%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            CARAVAT <span class="float-right">@Model.CARAVAT%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.CARAVAT%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            SHIRT <span class="float-right">@Model.SHIRT%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.SHIRT%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            Cardigan <span class="float-right">@Model.Cardigan%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.Cardigan%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            Slides <span class="float-right">@Model.Slides%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.Slides%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            BACKPACK <span class="float-right">@Model.BACKPACK%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.BACKPACK%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

    </div>
</div>
