@model IEnumerable<webbanhang.ViewModels.CartItem>
@using System.Security.Claims;
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Thanh toán</h1>
    <ol class="breadcrumb justify-content-center mb-0">      
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form asp-action="Checkout"  asp-controller="Cart" >
            <div class="row g-5">
                <form >
                    <div class="col-md-12 col-lg-6 col-xl-7">                      
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Tên người nhận<sup>*</sup></label>
                                    <input type="text" name="HoTen" class="form-control" value="@Context.User.FindFirstValue(ClaimTypes.Name)">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Số điện thoại<sup>*</sup></label>
                                    <input type="text" name="SoDienThoai" class="form-control" value="@Context.User.FindFirstValue(ClaimTypes.MobilePhone)">
                                </div>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Địa chỉ: <sup>*</sup></label>
                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Tỉnh/Thành phố: <sup>*</sup></label>
                                    <input type="text" name="Tinh" class="form-control" value="@Context.User.FindFirstValue("Tinh")">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Quận/Huyện/Thị xã<sup>*</sup></label>
                                    <input type="text" name="Huyen" class="form-control" value="@Context.User.FindFirstValue("Huyen")">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Xã/Phường/Thị trấn<sup>*</sup></label>
                                    <input type="text" name="Xa" class="form-control" value="@Context.User.FindFirstValue("Xa")">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Tên đường/Số nhà/Ngõ<sup>*</sup></label>
                                    <input type="text" name="DiaChi" class="form-control" value="@Context.User.FindFirstValue("address")">
                                </div>
                            </div>
                        </div>
                       
                        <hr>
                        
                        <div class="form-item">
                            <textarea name="GhiChu" class="form-control mt-2" spellcheck="false" cols="30" rows="11" placeholder="Ghi chú"></textarea>
                        </div>
                        <input type="submit" class="btn border-secondary  text-uppercase w-100 mt-2 text-primary" name="payment" value="Thanh toán khi nhận hàng">
                        <input type="submit" class="btn border-secondary  text-uppercase w-100 mt-2 text-primary" name="payment" value="Thanh toán bằng VNPay">
                    </div>
                                       
                </form>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Đơn giá</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="d-flex align-items-center mt-2">
                                                <img src="~/Hinh/product1/@item.Hinh" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                            </div>
                                        </th>
                                        <td class="py-5">@item.TenHh</td>
                                        <td class="py-5">@string.Format("{0:N0} VNĐ", @item.DonGia)</td>
                                        <td class="py-5">@item.SoLuong</td>
                                        <td class="py-5">@string.Format("{0:N0} VNĐ", @item.ThanhTien)</td>
                                    </tr>
                                }
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-3">Tổng tiền</p>
                                    </td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">@string.Format("{0:N0} VNĐ", @Model.Sum(p => p.ThanhTien))</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-4">Shipping</p>
                                    </td>
                                    <td colspan="3" class="py-5">
                                        <div class="form-check text-start">
                           
                                            <label class="form-check-label" for="Shipping-1">Ship tới địa chỉ @Context.User.FindFirstValue("address")-@Context.User.FindFirstValue("Xa")-@Context.User.FindFirstValue("Huyen")-@Context.User.FindFirstValue("Tinh")</label>
                                        </div>
                                     
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">Tổng tiền</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">@string.Format("{0:N0} VNĐ", @Model.Sum(p => p.ThanhTien))</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

