@model IEnumerable<webbanhang.ViewModels.HangHoaVM>

@foreach (var item in Model)
{
    <div class="col-lg-6 col-xl-4">
        <div class="p-4 rounded bg-light">
            <div class="row align-items-center">
                <div class="col-6">
                    <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
                        <img src="~/Hinh/product1/@item.Hinh" class="img-fluid rounded-circle w-100" alt="">
                    </a>
                </div>
                <div class="col-6">
                    <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh" class="h5">@item.TenHh</a>
                    <div class="d-flex my-3">
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4 class="mb-3">@string.Format("{0:N0} VNĐ", @item.DonGia)</h4>
                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.MaHh" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i>Đưa vào giỏ</a>
                </div>
            </div>
        </div>
    </div>
}

